{% extends "home/base.html" %}

{% block page_title %}List of items{% endblock %}

{% block content %}
    <h1>List of items</h1>

    <table class="table">
        <tr>
            <th></th>
            <th>Status</th>
            <th>Date added</th>
            <th>Deadline</th>
            <th>Text</th>
        </tr>
        {% for x in todos %}
            <tr>
                <td><a href="/todo/edit/{{ x.id }}">Edit</a></td>
                <td>{{ x.done }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.deadline }}</td>
                <td>{{ x.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

